.btn {
    padding: 12px 25px;
    border-radius: 3px;
    font-weight: 700;
    color: var(--light);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}


.black {
    background-color: var(--black-color);
}

.red {
    background-color: var(--red-color);
}