.container {
    display: flex;
    flex-direction: column;


}

.top {
    padding-top: 80px;
    padding-bottom: 80px;
    color: var(--mint-color);
    background-color: var(--black-color);

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        h2 {
            font-size: 50px;
            font-weight: 700;
            text-align: center;
        }

        span {
            display: flex;
            gap: 10px;
            align-items: center;

            flex-wrap: wrap;

            label {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 22px;
                color: #fff;
                font-weight: 700;

                select {
                    border: 2px solid transparent;
                    border-bottom: 2px solid #fff;
                    padding-bottom: 5px;
                    background: none;
                    color: var(--mint-color);
                    font-size: 20px;

                    &:focus {
                        border: 2px dashed var(--mint-color);
                    }

                    option {
                        color: var(--mint-color);
                    }
                }
            }
        }
    }
}

.bottom {
    margin-top: -30px;


}

.bottomContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}